# Python Basic Assignment Solution - 1

# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

# *   'hello'    -87.8   -      /     +	    6

* : ------------> Expression
'hello' : ------------> Values
-87.8 : ------------> Values
- : ------------> Expression
/ : ------------> Expression
+ : ------------> Expression
6 : ------------> Values

# 2. What is the difference between string and variable?

String: String is a datatype which is enclosed in a single quote or in double quote.
    eg: "python"
        
Variable: Variable is something which can hold the value of any datatype.
    eg: a= "python"
    Here a is a variable which is holding value "python", if we call this a then it will automatically
    show the value i.e "python"

# 3. Describe three different data types.

Three different datatypes are as follows:

    1. str: It is a string datatype which can be written in single or double quotes.
       eg: "luna" is a string & type("luna") will give str.
    
    2. int: If any number is written as an integer format, then the datatype for that will
       be int type.
       eg: 18 is a number in integer format and type (18) will show us int.
    
    3. float : If any number is written as floating point number 78.97 i.e with decimal format
       , then the datatype of that will be float.
       eg: type (7/8) will show us float

Apart from that, there are some built-in datatypes in python:

    1. List : List is a datatype in python which can be written as ["hello", 1, 2, 3, [24,48,72]]
       
    2. Tuple : Tuple is a datatype in python which can be written as  (1,4,6,"okay")
    
    3. Dict : Dict is another datatype in python which can be seen as key and value pair.
       It can be written as d = {"A": "India", "B": "Sri Lanka", "C": "Bangladesh", "D":"Pakistan"}
       Here A,B,C & D are the Keys and "India", "Sri Lanka", "Bangladesh", "Pakistan" are the values
       resprectively.

# 4. What is an expression made up of? What do all expressions do?

If we write numbers/variable with opearators in a well mannered format, then it is called Expression.

It do some operation and show us the result if it is a valid expression, otherwise it will show some error

eg: 
5/2+7 : Valid Expression
45-8* : Invalid Expression
    
a=5, b=6
a+b, which will show us the result 11 ( Valid Expression )

In [17]:
5/2+7

9.5

In [18]:
45-8*

SyntaxError: invalid syntax (<ipython-input-18-8e0eeeef235e>, line 1)

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression executes something, so here in this example spam=10 as a whole is expression.

A statement is some instruction given to python interpreter.
So when we call lets says print(spam), then it will show us the value of 10.

Here that print(spam ) is a statement

In [25]:
spam=10

In [26]:
print(spam)

10

# 6. After running the following code, what does the variable bacon contain?
#bacon = 22
#bacon + 1

It will hold the incremented value of bacon, i.e 23

In [19]:
bacon=22

In [20]:
bacon

22

In [21]:
bacon+1

23

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

It will show the concatination of both the string in 1st example, because both od strings type
'spam' +'spamspam' : 'spamspamspam'
    
In 2nd example: it will multiply the string i.e 'spam' three time and show us the result
'spam'*3 : 'spamspamspam'

In [22]:
'spam' +'spamspam'

'spamspamspam'

In [23]:
'spam'*3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

Because 100 is number which is a numeric datatype and we can not use any number as variable
whereas on the otherhands, eggs can be used as variable name

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

We have in-built function in python
a=99
str(a)---> It will give the string version of a i.e '99'
int(a)---> It will give the string version of a i.e 99
float(a)---> It will give the floating point number of a i.e 99.0

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Because as I can see, in this expression we are trying to add the string but in between there is number
which is of numeric datatype.

So, definitely it will give an error beacause for addition operation, datatypes must be same

To fix this, we can convert that number into string format like this:

In [9]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'